/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
     .intro,.introplanques, .introvie, .introbar, .introrestau
    {
        height:50vh;
    }
    .zonetext
    {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top:-15vh;
    } 

    .bar
    {
        margin-bottom: -15vh;
    }
   
    .zonetext1
    {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top:-20vh;
        margin-bottom: -20vh;
    }

    .zonetext2
    {
        margin-left: 5vw;
        margin-right:5vw;
        margin-top:-25vh;
        margin-bottom: -15vh;
    }

    .restaurant
    {
        margin-bottom: -30vh;
    }

    .zonetext4
    {
        margin-left:0vw;
        margin-right:5vw;
    }

    .zonetext3
    {
        margin-bottom: -5vh;
        margin-left: 5vw;
        margin-right:5vw;
    }

    

    
    .div-1 {
        display: flex;
        flex-wrap: wrap;
    }
    .textvodka
    {
        order:2;
        margin-left:5vw;
    }
    .vodka
    {
        order:1;
        margin-left:0;
    }

    .beer
    {
        order:1;
    }

    .textbeer
    {
        order:2;
    }

    .bp
    {
        order:1;
        margin-left:0;
    }

    .textbp
    {
        order:2;
    }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
     .intro,.introplanques, .introvie, .introbar, .introrestau
    {
        height:50vh;
    }

.zonetext
{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top:-15vh;
} 
.bar
{
    margin-bottom: -15vh;
}

.zonetext1
{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top:-20vh;
    margin-bottom: -20vh;
}
.zonetext2
{
    margin-left: 5vw;
    margin-right:5vw;
    margin-top:-25vh;
    margin-bottom: -15vh;
}

.restaurant
{
    margin-bottom: -30vh;
}

.zonetext4
{
    margin-left:0vw;
    margin-right:5vw;
}

.zonetext3
{
    margin-bottom: -5vh;
    margin-left: 5vw;
    margin-right:5vw;
}
.div-1 {
    display: flex;
    flex-wrap: wrap;
}
.textvodka
{
    order:2;
    margin-left:5vw;
}
.vodka
{
    order:1;
    margin-left:0;
}

.beer
{
    order:1;
}

.textbeer
{
    order:2;
}

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 767px) and (max-width: 991.98px) {
    

        .div-1 {
            display: flex;
            flex-wrap: wrap;
        }

      
        .textvodka
        {
            order:2;
            margin-left:5vw;
        }
        .vodka
        {
            order:1;
            margin-left:0;
        }
    
        .beer
        {
            order:1;
        }
    
        .textbeer
        {
            order:2;
        }
    
        .bp
        {
            order:1;
            margin-left:0;
        }
    
        .textbp
        {
            order:2;
        }
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
    .div-1 {
        display: flex;
        flex-wrap: wrap;
    }
    .textvodka
    {
        order:2;
        margin-left:5vw;
    }
    .vodka
    {
        order:1;
        margin-left:0;
    }

    .beer
    {
        order:1;
    }

    .textbeer
    {
        order:2;
    }

    .bp
    {
        order:1;
        margin-left:0;
    }

    .textbp
    {
        order:2;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .container{
        width:100vw;
    }
   
}


